#ifndef CLIENTID_H
#define CLIENTID_H


/* Copy this file to clientid.h and the values from spotify.
   You have to register an application at developer.spotify.com
*/

const QString clientId = "xxxx";
const QString clientSecret = "yyyy";

#endif // CLIENTID_H
